version: '3.8'

services:
    api:
        container_name: topawards-backend
        build: .
        restart: always
        ports:
            - "8080:8080"
        environment:
            - DATABASE_IP=${DB_HOST}         # O Java vai ler DATABASE_IP
            - DATABASE_NAME=${DB_NAME}       # O Java vai ler DATABASE_NAME
            - DATABASE_USER=${DB_USER}
            - DATABASE_PASSWORD=${DB_PASS}
          
              # Redis
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
          
              # Segurança
            - JWT_SECRET=${JWT_SECRET}
        
        # Conecta este container à rede externa
        networks:
            - rede_compartilhada

# AQUI É O PULO DO GATO
networks:
    rede_compartilhada:
        external: true
        # COLOQUE AQUI O NOME QUE VOCÊ ACHOU NO 'docker network ls'
        # Exemplo: infra_database
        name: ${NETWORK_NAME}