version: '3.8'

services:
    api:
        container_name: topawards-backend
        build: .
        restart: always
        ports:
            - "8080:8080"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
                - SPRING_DATASOURCE_USERNAME=${DB_USER}
                - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
                
                - SPRING_DATA_REDIS_HOST=${REDIS_HOST}
                - SPRING_DATA_REDIS_PORT=${REDIS_PORT}
                
                - JWT_SECRET_KEY=${JWT_SECRET}
        
        # Conecta este container à rede externa
        networks:
            - rede_compartilhada

# AQUI É O PULO DO GATO
networks:
    rede_compartilhada:
        external: true
        # COLOQUE AQUI O NOME QUE VOCÊ ACHOU NO 'docker network ls'
        # Exemplo: infra_database
        name: ${NETWORK_NAME}