version: '3.8'

services:
    api:
        container_name: topawards-backend
        build: .
        restart: always
        ports:
            - "8080:8080"
        environment:
            - DATABASE_IP=${DB_HOST}         # O Java vai ler DATABASE_IP
            - DATABASE_NAME=${DB_NAME}       # O Java vai ler DATABASE_NAME
            - DATABASE_USER=${DB_USER}
            - DATABASE_PASSWORD=${DB_PASS}
          
              # Redis
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
          
              # Segurança
            - JWT_SECRET=${JWT_SECRET}

            - FRONTEND_URL=${FRONTEND_URL}
            - ADMIN_FRONTEND_URL=${ADMIN_FRONTEND_URL}
            - UPLOAD_PATH=/app/uploads
            - SAMBA_USER=${SAMBA_USER}
            - SAMBA_PASS=${SAMBA_PASS}
            - SAMBA_IP=${SAMBA_IP}
        
        
        # Conecta este container à rede externa
        volumes:
            # Monta o volume de rede na pasta interna do container
            - truenas_images:/app/uploads
        networks:
            - rede_compartilhada

# AQUI É O PULO DO GATO
networks:
    rede_compartilhada:
        external: true
        # COLOQUE AQUI O NOME QUE VOCÊ ACHOU NO 'docker network ls'
        # Exemplo: infra_database
        name: ${NETWORK_NAME}

# Volume CIFS para montar o Samba do TrueNAS
volumes:
    truenas_images:
        driver: local
        driver_opts:
            type: cifs
            o: "username=${SAMBA_USER},password=${SAMBA_PASS},uid=1000,gid=1000,file_mode=0644,dir_mode=0755"
            device: "//${SAMBA_IP}/hdd/awards-imgs"